<div class="jumbotron">
  <h2>Welcome to The Tome!</h2>
  <p class="lead">Release dates for upcoming fantasy novels.</p>
</div>

<div class="row books">
  <%= for book <- @books do %>
    <div class="books__book">
      <p class="book__title"><a href="<%= page_path(@conn, :show, book.serie_slug, book.slug) %>"><%= book.title %></a></p>
      <p><img src="<%= cover_image_url(book) %>" /></p>
      <p><%= book.author %></p>
      <p><%= book.release_date %></p>
    </div>
  <% end %>
</div>
