<h2>Show book</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @book.title %>
  </li>

  <li>
    <strong>Author:</strong>
    <%= @book.author %>
  </li>

  <li>
    <strong>Release date:</strong>
    <%= @book.release_date %>
  </li>

</ul>
