<h2><%= @book.title %></h2>

<div class="row">
  <div class="col-lg-8">
    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>

    <p>
      <strong>Release date:</strong>
      <%= @book.release_date %>
    </p>
  </div>

  <div class="col-lg-4">
    <img src="<%= cover_image_url(@book, "L") %>" />
  </div>
</div>
